/*
============================
  1. DEFINICIÓN DE root
============================
*/
:root {
  --color-primary: hsl(271, 42%, 68%);
  --color-secondary: rgb(251, 251, 251);
  --color-accent: rgb(19, 60, 75);
  --color-dark: #464646;
  --color-light: rgb(228, 224, 224);
  --color-background: rgb(179, 120, 235);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-background);
}

.titulo{
    padding: 16px;
    padding-bottom: 0;
}

#padre{
    display: flex;
    margin: 16px;
    gap: 16px;
}

.izq, .medio, .der{
    width: 25%;
    background-color: var(--color-secondary);
    border-radius: 8px;
}

.tarjeta{
    margin: 12px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid var(--color-dark);
    border-radius: 8px;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
}

.tarjeta button{
    display: none;
    border: none;
    font-size: xx-large;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
    background-color: transparent;
    height: fit-content;
}

.tarjeta:hover{
    padding: 8px;
    transition: background-color, padding 1s;
    background-color: var(--color-primary);
}

.tarjeta:not(:hover){
    transition: background-color 1s;
}

.tarjeta:hover button{
    display: block;
    border-radius: 8px;
}

.tarjeta button:hover{
    background-color: var(--color-light);
    border-radius: 8px;
    transition: background-color 1s;
}

.tarjeta:not(:hover){
    transition: background-color 1s;
}

.tarjeta-titulo{
    margin: 12px;
    padding: 8px;
    border: 1px solid var(--color-dark);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    background-color: var(--color-primary);
}

.añadir{
    display: grid;
    padding: 12px;
    padding-top: 0;
    gap: 4px;
}

.añadir textarea{
    border-radius: 8px;
    padding: 8px;
    resize: none;
}

.añadir-p{
    display: flex;
    justify-content: space-between;
}

.añadir-p a{
    text-decoration: none;
    border: 2px solid var(--color-dark);
    border-radius: 8px;
    color: var(--color-light);
    background-color: blue;
    padding: 8px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.añadir-p a:hover{
    transition: background-color 0.5s;
    background-color: lightblue;
}

.añadir-p a:active{
    background-color: var(--color-accent);
    box-shadow: unset 1px;
}

.añadir-p a:not(:hover){
    transition: background-color 1s;
    background-color: blue;
}

.añadir-p button{
    padding-right: 8px;
    padding-left: 8px;
    border: none;
    background-color: transparent;
    font-size: xx-large;
    cursor: pointer;
}

.añadir-p button:hover{
    background-color: var(--color-light);
    border-radius: 8px;
}

.añadir-d{
    margin: 12px;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.añadir-d:hover{
    transition: background-color 1s;
    background-color: var(--color-light);
    border-radius: 8px;
}

.añadir-d:not(:hover){
    transition: background-color 1s;
}

@media (max-width: 790px) {
  #padre {
    width: 100%;
    float: left;
    font-size: 16px;
  }
}

#contenedor-principal {
  width: 1400px;
  margin: 0 auto;
}