*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(239, 231, 231);
}

.titulo{
    text-align: center;
    padding: 16px;
}

.padre{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 100%;
}

.padre section{
    background-color: #fff;
    padding: 12px;
    width: 20%;
    height: 60vh;
    border-radius: 12px;
}

.titulo2{
    padding: 8px;
    border-bottom: 1px solid rgb(213, 205, 205);
    text-align: center;
}

.padre-objetos{
    display: grid;
    gap: 8px;
    margin-top: 16px;
}

.objetos{
    background-color: rgb(219, 207, 207);
    padding: 12px;
    border: 1px solid grey;
    border-radius: 8px;
    font-weight: bold;
}

.padre-trabajo{
    display: grid;
    gap: 8px;
    margin-top: 16px;
    text-align: center;
}

.trabajo{
    border: 1px dashed grey;
    border-radius: 8px;
    padding: 32px;
    font-weight: bold;
}

.trabajo .minor{
    font-weight: lighter;
}

.padre-almacen{
    display: grid;
    gap: 8px;
    margin-top: 16px;
}

.almacen{
    background-color: rgb(239, 239, 239);
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.contador{
    background-color: rgb(215, 211, 211);
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
}

/* Zona Drop */
.trabajo.active {
    background-color: #d4edda;
    border-color: green;
    border-style: solid;
    color: green;
}

.trabajo.reject {
    background-color: #f8d7da; 
    border-color: red;
    border-style: solid;
    color: red;
}